
.container
	.edit_profile
		.profile_image
			= image_tag @user.image
		.profile_info
			%h1.profile= @user.name.upcase
			%h3.edit{"data-reveal-id" => "myModal", href: "#"}= link_to "EDIT PROFILE"
			#myModal.reveal-modal{"data-reveal" => ""}
				.large-12.columns
					%h1 WHO ARE YOU, #{@user.name}?
					%br
				.large-9.columns.small-centered
					= form_for @user, method: :put do |f|
						.large-6.columns
						%h3.bio PROFILE PHOTO
						= f.file_field :image, value: @user.image
						.large-6.columns
						%h3.bio NAME
						= f.text_field :name, value: @user.name
						.large-6.columns
						%h3.bio THREE WORD STATEMENT THAT DESCRIBES YOU
						= f.text_field :title, value: @user.title
						.large-6.columns
						%h3.bio SHORT BIO
						= f.text_field :description, value: @user.description
						.large-6.columns
						%h3.bio EMAIL
						= f.email_field :email, value: @user.email
						%br
						.large-6.columns
						%button{type: 'submit', id: 'post_button'} POST
				%a.close-reveal-modal ×
	/ %br
	/ %a.button{href: '/challenges'} BROWSE CHALLENGES

	.large-4.columns.right
		.points
			%h1.points= (10 * @user.submissions.count) + (50 * @user.submissions.where(winner: false).count)
			%h3.points CHALLENGE POINTS
	.large-6.columns.left
		%h1.title= @user.title
		%p= @user.description

	/ ADD YOUR PERSONAL MISSION STATEMENT
	/ %br
	/ = form_for @user do |f|
	/ 	= f.text_field :title, :placeholder => 'You in three words'
	/ 	%br
	/ 	= f.text_area :description, :placeholder => 'Your personal mission statement'
	/ 	%br
	/ 	%button{type: 'submit'} THIS IS ME

	%br
	%br
	.challenges
		%h3.challenge_title YOUR CHALLENGES
		%ul.small-block-grid-3.small-centered
			= link_to image_tag('defaultchallenge.jpg', style: "width: 33%; height: 15em;"), ('/challenges/1')
			- @user.challenges.each do |c|
				= link_to image_tag(c.challenge_image, style: "width: 33%; height: 15em;"), c

		.portfolio
			%h3.interest_title YOUR PORTFOLIO
			%ul.small-block-grid-3.small-centered.folio
				- @user.submissions.each do |s|
					= link_to image_tag(s.image, style: "width: 33%; height: 15em;"), s
					/ = image_tag @user.portfolio_item.url, id: 'portfolio_upload'
		
			.interests
				%h3.interest_title YOUR INTERESTS
				.large-8.columns.checkboxes.small-centered
					= form_for @user do |f|
						= f.collection_check_boxes :interest_ids, Interest.all, :id, :name
						%br
						%button{type: 'submit'} UPDATE INTERESTS


			
		
	/ = form_for @user do |f|
	/ 	= f.file_field :portfolio_item 
	/ 	%button{type: 'submit'} ADD TO PORTFOLIO

