.container
	.homelogo
		= link_to image_tag('homelogo.png'), root_path
		- if @user == nil
			%h3.hello LOOK WHAT YOU HAVE CREATED
		- else
			%h3.hello HELLO, #{@user.name.upcase}
	.ipad
		= image_tag 'iPad.png'
	%ul
		%li= link_to "START A CHALLENGE", '/challenges/new'
		%li= link_to "BROWSE CHALLENGES", '/challenges'
		%li= link_to "REGISTER", '/auth/facebook'
	
	.section_two
		%ul.small-block-grid-3.small-centered
			%li.homeimage= link_to image_tag('natgeo.jpg', style: "width: 100%; height: 45%;", id: 'home_image'), '/challenges/6'
			%li.homeimage= link_to image_tag('nikered.jpg', style: "width: 100%; height: 45%;", id: 'home_image'), '/challenges/4'

	.section_three
		.how_it_works
			%h1 HOW IT WORKS
		.large-5.columns.left
			%p.how Frankeinstein connects students hoping to build their creative portfolios with companies, celebrities, and universities driven to help them get there.  Simply login, choose your interests, and browse challenges that match those interests.  As you complete challenges, you'll be building a creative portfolio that can be used down the road for college applications and job interviews.  Don't worry though, it won't seem like work.  You'll earn points along the way and get to work on some really cool stuff that matters to you.  No boring tests or memorization here.  Ready to get started?

			%a.button{href: '/auth/facebook'} REGISTER WITH FACEBOOK

		.large-6.columns.right
			.flex-video.widescreen.youtube
				%iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/rW5DHe1Mi40", width: "560"}
