/ = @challenge.user.name
.row
	.large-12.columns
		= form_for UserChallenge.new do |f|
			= f.hidden_field :user_id, value: @user.id
			= f.hidden_field :challenge_id, value: @challenge.id
			%button{type: 'submit'} CHALLENGE ACCEPTED
			%button SUBMIT YOUR CREATION
			%button SHARE


.row.collapse
	%ul.block-grid.four-up.mobile-two-up.no-bullet
		%li.project-thumbnail
			%img
				= image_tag @challenge.challenge_image.url
				= @challenge.name
%br

/ %br
/ = @user.challenge.name
%br

%br
= @challenge.description

/ = form_for @user do |f|
/ 	= f.collection_check_boxes :interest_ids, Interest.all, :id, :name
/ 	%br
/ 	%button{type: 'submit'} ADD INTERESTS
