%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Frankeinstein"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar
          %section.left.icon
            = link_to "☰", root_path
          %section.right-small
            .profile_thumbnail
            - if @user == nil
            - else
              = link_to image_tag(@user.image), user_path(current_user)
          %section.middle.tab-bar-section
            .small.nav
              - if current_user
                = link_to "#{current_user.name}", user_path(current_user), id: 'user_link'
                = link_to "Log Out", logout_path
              - else
                = link_to "Login or Register with Facebook", '/auth/facebook'
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
              

    = yield
    = javascript_include_tag "application"